<div id="marketing-footer" class="marketing-footer">
  <nav >
    <span class="copyrights" id="copyrights">
      <a href="https://airbrake.io/">Airbrake © 2016</a>
    </span>
    <span><a href="https://airbrake.io/blog">Company Blog</a></span>
    <span><a href="https://airbrake.io/docs/">API Documentation</a></span>
    <span><a href="http://status.airbrake.io">Status Site</a></span>
    <span><a href="mailto:support@airbrake.io">Email Support</a></span>
    <span><a href="https://help.airbrake.io/kb">Help Docs</a></span>
    <span><a href="https://airbrake.io/terms">Terms of Service</a></span>
    <span><a href="https://airbrake.io/privacy">Privacy Policy</a></span>
    <span><a href="https://play.google.com/store/apps/details?id=com.airbrake.android.app&amp;hl=en">Download Airbrake Android App</a></span>
    <span><a href="https://itunes.apple.com/us/app/id944841582?mt=8">Download Airbrake iPhone App</a></span>
    <span id="last-span"><a href="/jobs">Jobs</a></span>
  </nav>
</div>