/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat);

.pages-index {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.sessions-new {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: 100% 200%;
}

body {
  font-family: "Raleway", sans-serif;
  .text-left {
    float: left;
  }

  .glyphicon {
    font-size: larger;
    vertical-align: bottom;
    color: #bf042f;
  }

  .notice-container {
    margin: 20px auto auto auto;
    position: absolute;
    width: auto;
    height: auto;
    top: auto;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 10;

    #notice {
      position: relative;
      border-radius: 4px;
      padding: 25px;
      opacity: 0.9;
      background-color: #fff;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      width: 350px;
      font-size: larger;
      color: #3f3f3f;
    }

  }
  .text-right {
    float: right;
    margin-top: 10px;
    position: relative;
    vertical-align: middle;
  }

  .sign_up_link {
    font-size: larger;
    text-decoration: underline;
    color: #fff;
  }

  .bottom-text {
    color: #b8b8b8;
  }

  .logo-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .login-form {
    float: none;
    margin: 0 auto;

    .panel.panel-default {
      background-color: #333;
      border: none;

      .panel-heading {
        border: none;
        background-color: #3f3f3f;
        h1 {
          color: #fff;
          font-size: 30px;
          margin: 20px;
        }
      }
      .panel-body {
        background-color: #505050;
        padding: 30px 40px 0;

        .btn.btn-block.btn-primary.btn-lg {
          font-size: 32px;
          background-color: #ff8700;
          border: #ff8700;
          border-radius: 4px;
          height: 60px;
        }

        .form-control {
          border: solid 1px #3f3f3f;
          background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%;
          background-clip: border-box;
          background-origin: padding-box;
          background-size: auto auto;
          height: 60px;
          color: #b8b8b8;
          border-radius: 4px;
        }

        .form-control:focus {
          background-color: #e5e5e5;
          border: 1px solid #ff8700;
          box-shadow: 0 0 8px #af5c00;
          color: #6b6b6b;
        }

        #remember_me {
          color: #fff;
          text-shadow: 0 1px 0 #000000;
        }

        #forgot_password {
          color: #fff;
        }

        .text {
          color: #b8b8b8;
          font-size: 13px;
          font-weight: bold;
        }

        .check_box {
          position: relative;
          vertical-align: middle;
        }
        .remember_me_text {
          margin-top: 10px;
          position: relative;
          vertical-align: middle;
        }
      }
    }
  }

  .marketing-footer {
    font-size: 11px;
    text-align: center;
    margin-bottom: 20px;
    span {
      border-right: 1px solid #ffffff;
      padding-right: 5px;
      margin-right: 5px;
      line-height: 1em;
      a {
        color: #fff;
      }
    }
    #last-span {
      border-right: none;
    }

    #copyrights {
      border-right: none;
      margin-right: 20px;
    }
  }

  .copyrights {
    display: inline-block;
    background: rgba(0, 0, 0, 0.1) url(footer_logo.png) no-repeat 0px -326px;
    padding: 5px 10px 5px 35px;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 20px;
    border-right: none;
  }

  h1 {
    color: #fff;
  }

}
