<!DOCTYPE html>
<html>
<head>
  <title>CloneAirbrakeApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<!--<h1 id="notice"hello></h1>-->
  <%= yield %>
</div>
</body>
</html>
